.ComponentHeight {
    height: 100vh;
}



@media screen and (min-device-width: 320px) and (max-device-width: 450px) {
    .ComponentHeight {
        height: 45vh;
    }
}


@media screen and (min-device-width: 450px) and (max-device-width: 600px) {
    .ComponentHeight {
        height: 60vh;
    }

    /* STYLES HERE */
}

@media screen and (min-device-width: 600px) and (max-device-width: 700px) {
    .ComponentHeight {
        height: 85vh;
    }

    /* STYLES HERE */
}
@media screen and (min-device-width: 700px) and (max-device-width: 1300px) {
    .ComponentHeight {
        height: 100vh;
    }

    /* STYLES HERE */
}

@media screen and (min-device-height: 500px) and (max-device-height: 750px) {
    .ComponentHeight {
        height: 100vh;
    }

    /* STYLES HERE */
}